@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* font-family: 'Josefin Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


/*QuickSand*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Quicksand:wght@300&display=swap');


/* Nanum Gothi */
/* font-family: "Nanum Gothic", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');



@media screen and (max-width: 1024px) {

    div.displaylap,
    div.otherdetlap,
    div.scrolllap,
    div.topnav,
    a.resume,
    div.profile,
    div.fieldseteca,
    div.bottomlap {
        display: none;
    }
}

@media screen and (min-width: 1024px) {

    div.displaymob,
    div.otherdetmob,
    div.scrollmob,
    div.bottomnav,
    div.profilemob,
    div.fieldsetecamob,
    div.bottommob {
        display: none;
    }
}



html {
    scroll-behavior: smooth;

    
}

body {
    margin: 0;
    background-color: #111827;
}





.resume {
    /* float: right; */
    font-family: 'Courier New', Courier, monospace;
}

.connectedinfo {
    text-align: center;
    font-size: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (min-width: 1024px) {
    a#resumebtn {
        margin-top: 0.75vw;
        margin-right: 2%;
        font-weight: lighter;
        font-size: medium;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        padding: 7px 14px;
        /* background-color: rgb(230, 85, 112); */
        /* background-color: rgb(147, 197, 254); */
        background-color: #111827;
        z-index: 45;
        float: right;
        /* border: 1px solid red; */
        border: 1px solid rgb(72, 78, 195);

        border-radius: 1.5vw;
        text-decoration: none;

        transition-duration: .4s;

    }
}

a#resumebtn:hover {
    /* background-color: rgb(45,184,45); */
    background-color: rgb(92, 222, 232);

    color: rgb(24, 24, 216);
    box-shadow: 0px 0px 8px #44619b;


}

#demolap {
    font-family: 'Dancing Script';
    opacity: 1;
    position: relative;
    /* background: linear-gradient(to right, #f32170, */
    /* #ff6b08,#ff6b08, #cf23cf); */
    /* background: #f97e52; */
    background: #F97316;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation-name: demoanimation;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}


@media screen and (min-width: 1024px) {
    p#demolap {
        font-size: 5vw;
        margin-left: 5%;
        margin-right: 2%;
        line-height: 250%;
        /* letter-spacing: 5px; */

    }
}

@keyframes demoanimation {
    0% {
        color: red;
    }

    100% {
        color: green;
        /* opacity: 0; */
    }


}

@media screen and (max-width: 1024px) {
    p#demolap {
        font-size: 7.5vw;
        text-align: center;
        line-height: 250%;
        /* letter-spacing: 50px; */
    }
}

.profile {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(198, 216, 226);
    animation-name: profileimageanimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    /* margin-right: 100px; */
}


@keyframes profileimageanimation {
    0% {
        opacity: 0;
        margin-top: 50%;
    }

    100% {
        margin-top: 0;
    }

}

@media screen and (min-width: 1024px) {
    div.profile {
        /* border: 1px solid black; */
        padding: 10px;
        box-shadow: 0px 7px 10px 0 rgba(162, 154, 154, 0.5);
        max-width: 220px;
        left: 20px;
        text-align: center;
        /* margin: auto; */
        float: right;
        margin: 30px;
        overflow: hidden;
        border-radius: 5px;
        transition: all 0.3s ease;

    }
    div.profile:hover{
        transform: translateY(-5%);
        scale: 1.1;

    box-shadow: 0 10px 25px rgba(157, 218, 235, 0.3);
    }
}



@media screen and (min-width: 1024px) {
    img.profilepic {
        height: 250px;
        width: 200px;
        transition: all 0.3s ease;
    }
 }


.profilemob {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    animation-name: profileimageanimation;
    animation-duration: 2s;


}


@media screen and (max-width: 1024px) {
    div.profilemob {
        padding: 5px;
        padding-top: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
        max-width: 230px;
        text-align: center;
        margin: auto;
        overflow: hidden;
        border-radius: 5px;
    }
}


@media screen and (max-width: 1024px) {
    img.profilepicmob {
        height: 250px;
        width: 200px;
    }
}

.resume:hover {
    background-color: rgba(219, 128, 128, 0.441);
    color: white;
}

.resume-download-icon {
    height: 10%;
    width: 10%;
}

.nametitle {
    font-family: 'Puritan', sans-serif;
    color: rgb(117, 148, 189);
    float: left;
}

@media screen and (min-width: 1024px) {
    div.nametitle {
        font-size: 30px;
        margin-top: 1%;
    }
}

@media screen and (max-width: 1024px) {
    div.nametitle {
        font-size: 20px;
    }
}

.topnav {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 45;
    /* background: linear-gradient(to left, rgb(57, 215, 57), rgb(57, 215, 57), #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be); */

    /* background-color: rgb(4, 4, 49); */
    /* background-color: #0B0F19; */
    background-color: #111827;
    font-family: 'Quicksand';
    font-weight: bold;
    /* animation-name: topnavanimation;
    animation-duration: 4s;
    animation-fill-mode: forwards; */
    /* box-shadow: 0 1px 80px #111827; */
    /* box-shadow: 0px 10px 10px red; */
    /* box-shadow: x y blur spread color; */
    /* box-shadow: 0px 0px 100px 1px red; */

}  



.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5vw;
}

.topnav a:hover {
    background-color: #dddddd70;
    /* background-color: rgb(45, 184, 45); */
    color: black;
    /* border-radius: 0px 2vw; */
    border-radius: 10px;
}






/* BOTTOM NAV FOR MOBILE */
.bottomnav {

    overflow: hidden;
    background-color: #1d1b1b;
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 105;
    font-family: 'Quicksand';
    font-weight: bold;

}


.bottomnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}





.profname {
    font-family: 'Josefin Sans', sans-serif;

}


.block-title {
    background-color: #1f2737;
    border: 0.01em solid #92c9e640;
    border-radius: 13px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: -1%;
    font-family: 'Josefin Sans', sans-serif;
    /* text-align: center; */
}

@media screen and (max-width: 1024px) {
    div.block-title {
        max-width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    div.block-title {
        max-width: 60%;

    }
}

#workexperience {
    background-color: #1f2737;
    border: 0.01em solid #92c9e640;
    border-radius: 13px;
    margin: auto;
    /* margin-left: 10%; */
    font-family: 'Josefin Sans', sans-serif;
    /* text-align: center; */
}

@media screen and (max-width: 1024px) {
    div#workexperience {
        max-width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    div#workexperience {
        max-width: 90%;

    }
}


#jobProfile {
    color: #e2edf2;
    margin-left: 5%;
}

@media screen and (max-width: 1024px) {
    div#jobProfile {
        margin-bottom: 5px;
        margin-top: -5%;
        font-size: 3.7vw;
    }
}

@media screen and (min-width: 1024px) {
    div#jobProfile {
        margin-bottom: 20px;
        font-size: 2.3vw;
    }
}

.jobyear {
    color: #a9c3dc;
}

@media screen and (max-width: 1024px) {
    div.jobyear {
        font-size: 3vw;
        margin-left: 5%;
    }
}

@media screen and (min-width: 1024px) {
    div.jobyear {
        /* margin-bottom: 20px; */
        font-size: 1.2vw;
        margin-left: 5.5%;
        margin-top: -1%;
    }
}


@media screen and (max-width: 1024px) {
    span.company-name {
        font-size: 3.7vw;
    }
}

@media screen and (min-width: 1024px) {
    span.company-name {
        display: none;
    }
}

.tcs_logo {
    height: 40px;
    margin-bottom: -0.5%;
}

@media screen and (max-width: 1024px) {
    img.tcs_logo {
        /* height: 20px; */
        /* margin-bottom: -0.5%; */
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    img.tcs_logo {
        height: 40px;
        margin-bottom: -0.5%;
    }
}

.tcs-profile {
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1.5vw; */
    display: inline-block;

}

@media screen and (max-width: 1024px) {
    span.tcs-profile {
        font-size: 3vw;
        padding: 8px;
    }
}

@media screen and (min-width: 1024px) {
    span.tcs-profile {
        font-size: 1.5vw;
        padding: 10px;

    }
}

.topic_title {
    text-align: center;
    align-items: center;
    color: rgb(4, 4, 49);
    background-color: #f69b7a;
    /* position: sticky; */
    top: 7%;
    overflow: hidden;
    z-index: 100;
    letter-spacing: 1px;
}


@media screen and (max-width: 1024px) {
    div.topic_title {
        font-size: 2em;
        border-radius: 13px 13px 0px 0px;
        margin-bottom: 0%;
        padding-top: 2%;
    }
}

@media screen and (min-width: 1024px) {
    div.topic_title {
        font-size: 3.5vw;
        border-radius: 13px 13px 0px 0px;
        margin-bottom: 0%;
        padding-top: 2%;
    }
}

.topics {
    align-items: center;
    /* display:inline-flex; */
}

.skillset-hr {
    border: 0.001em solid #f5f5f574;
}

.new-skill-type {
    border-radius: 8px;
    margin: auto;
    border: 0.01em solid #f5f5f5b8;
    color: whitesmoke;
    background-color: #41526b71;

}


@media screen and (max-width: 1024px) {
    div.new-skill-type {
        /* background: #000; */
        max-width: 94%;
        margin-top: 3%;
    }
}

@media screen and (min-width: 1024px) {
    div.new-skill-type {
        /* margin: auto; */
        max-width: 94%;
        margin-top: 3%;
    }
}

.skill-type {
    font-family: 'Quicksand', sans-serif;
    /* font-size: 1.5vw; */
    padding: 3%;
}

@media screen and (max-width: 1024px) {
    span.skill-type {
        font-size: 4vw;
    }
}

@media screen and (min-width: 1024px) {
    span.skill-type {
        font-size: 1.5vw;
    }
}



.tags-2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5%;
    color: white;
}

@media screen and (max-width: 1024px) {
    div.tags-2 {
        gap: 3px;
    }
}

@media screen and (min-width: 1024px) {
    div.tags-2 {
        gap: 8px;
    }
}


.tag-2 {
    background-color: #4d7cb1;
    border: 1px solid #3aa0ff;
    transition: 0.2s;
    color: rgb(255, 255, 255);


}

@media screen and (max-width: 1024px) {
    span.tag-2 {
        padding: 4px 8px;
        border-radius: 15px;
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    span.tag-2 {
        padding: 8px 14px;
        border-radius: 20px;
        font-size: 14px;
    }
}


.tag-2:hover {
    background-color: #f07f5a6e;
    border: 1px solid #ff916c;
    /* transform: scale(1.5); */
    scale: 1.02;

    /* color: #0b1a2b; */
}

/* TIMELINE */
.timeline {
    max-width: 800px;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    /* margin: -1%; */

}

/* ITEM */
.timeline-item {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.timeline-item:hover {
    transform: translateX(5px);
}

@media screen and (max-width: 1024px) {
    div.timeline-item {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1024px) {
    div.timeline-item {
        margin-bottom: 20px;
    }
}

/* LEFT SIDE (year + dot) */
.timeline-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 60px;
    position: relative;
}

/* DOT */
.timeline-dot {
    width: 12px;
    height: 12px;
    background: #f07f5a;
    border-radius: 50%;
    margin-top: 4px;
    /* box-shadow: 0 0 5px rgba(240, 127, 90, 0.7); */
    box-shadow: 0 0 8px rgba(240, 127, 90, 0.6);
}

/* YEAR */
.year {
    font-size: 13px;
    color: #7fa6c9;
    margin-bottom: 8px;
    /* margin-right: 120%; */
}

/* CONTENT */
.timeline-content {
    flex: 1;
    padding-top: 2px;
}

.eduhead {
    color: #62d0ff;

}

@media screen and (max-width: 1024px) {
    div.eduhead {
        margin-bottom: 5px;
        font-size: 4vw;
    }
}

@media screen and (min-width: 1024px) {
    div.eduhead {
        margin-bottom: 2px;
        font-size: 2.3vw;
    }
}

.inst-name {
    color: #a9c3dc;
    /* margin: 2px 0; */
    font-size: 1.2vw;
}

@media screen and (max-width: 1024px) {
    div.inst-name {
        margin: 2px 0;
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1024px) {
    div.inst-name {
        margin: 2px 0;
        font-size: 1.2vw;
    }
}

.details {
    color: #a9c3dc;
}

@media screen and (max-width: 1024px) {
    p.details {
        font-size: 2.3vw;
        margin-top: 0.5%;
    }
}

@media screen and (min-width: 1024px) {
    p.details {
        font-size: 1.2vw;
        margin-top: 2px;
    }
}

.extracursection svg {
    margin-right: 3px;
}


@media screen and (max-width: 1024px) {
    p.work-context {
        text-indent: 3%;
        border-left: 3px solid #F28C64;
        padding-left: 12px;
        padding-right: 10px;
        opacity: 0.9;
        margin-left: 3%;
        font-size: 3vw;
        margin-top: -2%;
    }
}

@media screen and (min-width: 1024px) {
    p.work-context {
        text-indent: 5%;
        border-left: 3px solid #F28C64;
        padding-left: 12px;
        padding-right: 10px;
        opacity: 0.9;
        margin-left: 3%;
        font-size: 1.4vw;
    }
}

/* SECTION WRAPPER */
.about-section {
    margin-top: 40px;
}


/* MAIN CONTENT */
.about-container {
    max-width: 900px;
    margin: auto;
    padding: 30px 20px;
    line-height: 1.7;
}

/* BLOCKS */
.about-block {
    margin-bottom: 25px;
}

/* SECTION LABELS */
.about-section-title {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #F28C64;
    font-weight: 600;
    margin-bottom: 6px;
    letter-spacing: 1px;
}


@media screen and (max-width: 1024px) {
    div.about-section-title {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) {
    div.about-section-title {
        font-size: 18px;
    }
}

/* LINE AFTER TITLE */
.about-section-title::after {
    content: "";
    flex: 1;
    height: 3px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    /* background: rgba(255,255,255,0.1); */
    background: linear-gradient(to right, #f68961, #f68961, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #5779be, #1f2737);
}

/* TEXT */
.about-container p {
    color: #c9d4e3;
    font-size: 15px;
    margin: 0;
}

@media screen and (max-width: 1024px) {
    div.about-container p{
        font-size: 14px;
        /* color: red; */
    }
}

@media screen and (min-width: 1024px) {
    div.about-container p {
        font-size: 18px;
        /* color: red; */
    }
}
/* HIGHLIGHT WORDS */
.about-container strong {
    color: #ffffff;
    font-weight: 600;
}

.menutitle {
    /* color: #ffff; */
    /* color: #d9fcfc; */
    color: rgb(4, 4, 49);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    /* background-color: #5779be; */
    background-color: #f68961;
    display: block;
    /* position: sticky; */
    top: 0;
    padding-top: 1%;
    z-index: 100;
    /* font-weight: bold; */

}


@media screen and (min-width: 1024px) {
    div.menutitle {
        font-size: 50px;
        /* text-shadow: 2px 2px #0000ff; */


    }
}

@media screen and (max-width: 1024px) {
    div.menutitle {
        font-size: 30px;
        /* text-shadow: 1px 1px #2424ff; */


    }
}

.hello {
    text-indent: 10vw;
    font-size: 4vw;
    margin-left: 2%;
    margin-right: 1%;
    font-family: 'Quicksand', sans-serif;
    color: #c9c9c9;
}


@media screen and (min-width: 1024px) {
    div.hello {
        font-size: 1.9vw;
    }
}

@media screen and (max-width: 1024px) {
    div.hello {
        font-size: 4vw;

    }
}

/* GRID */
.project-grid {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* ✅ prevents uneven vertical alignment */
    padding: 20px;
}

/* CARD */
.project-card {
    
    perspective: 1000px;
    cursor: pointer;

    flex-shrink: 0; /* ✅ prevents resizing */
    position: relative;
}


@media screen and (min-width: 1024px) {
    div.project-card {
        /* font-size: 1.9vw; */
        width: 250px;
    height: 100px;
    }
}

@media screen and (max-width: 1024px) {
    div.project-card {
        /* font-size: 1.9vw; */
        /* width: 250px; */
        width: 100%;
    height: 100px;
    }
}


/* INNER WRAPPER */
.card-inner {
    width: 100%;
    height: 100%;
    position: relative;

    transform-style: preserve-3d;
    transition: transform 0.6s ease;

    /* ✅ prevents layout recalculation */
    display: block;
}

/* FLIP STATES */
.project-card.flipped .card-inner {
    transform: rotateY(180deg);
}

@media (hover: hover) {
    .project-card:hover .card-inner {
        transform: rotateY(180deg);
    }
}

/* SIDES (FRONT + BACK) */
.card-front,
.card-back {
    position: absolute;
    inset: 0; /* ✅ ensures exact same size */

    border-radius: 12px;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 12px;
    text-align: center;

    box-sizing: border-box; /* ✅ critical */
    overflow: hidden; /* ✅ prevents expansion */
}

/* FRONT */
.card-front {
    /* background: rgba(255, 255, 255, 0.04); */
    background: #41526b71;
    border: 1px solid rgba(255,255,255,0.1);
    color: #ffffff;
}

/* BACK */
.card-back {
    /* background: rgba(242, 140, 100, 0.1); */
    background-color: #5ea1ee36;
    border: 1px solid #3aa0ff;
    color: #c9d4e3;
    transform: rotateY(180deg);
}

/* TEXT RESET (VERY IMPORTANT) */
.card-front h3,
.card-front p,
.card-back p,
.card-back span {
    margin: 0; /* ✅ removes hidden spacing issues */
}

/* TEXT STYLING */
.card-front h3 {
    font-size: 15px;
    margin-bottom: 4px;
}

.card-front p {
    font-size: 12px;
    color: #a9c3dc;
}

.card-back p {
    font-size: 12px;
    line-height: 1.4;
}

.card-back span {
    font-size: 11px;
    color: #F28C64;
    margin-top: 4px;
}

/* FLIP ICON */
.flip-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
    transition: 0.3s ease;
}

.flip-icon svg {
    width: 100%;
    height: 100%;
}

/* ICON ANIMATION */
.project-card:hover .flip-icon {
    opacity: 1;
    transform: rotate(180deg);
}

/* OPTIONAL HOVER LIFT (SAFE) */
.project-card:hover {
    /* transform: translateY(-4px); */
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.extracursection {
    flex: 1;
    border-radius: 12px;
    padding: 15px;
    /* background-color: rgba(153, 186, 186, 0.122); */
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    /* transition: ease; */
    transition: all 0.3s ease;
}

.extracursection:hover {
    /* transform: scale(1.02); */
    transform: translateY(-6px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);


}

.extracurriculartitle {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    align-items: center;
    display: flex;


}

.extracurricular {
    /* color: rgb(223, 181, 126); */
    color: rgb(196, 125, 33);

    font-size: 1.5em;
    padding: 10px;
}

.fieldseteca {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    /* margin: 10%; */
    font-family: 'Quicksand', sans-serif;
    /* text-align: center; */
    padding: 1%;
}

.list-item-lap {
    font-size: 14px;
    line-height: 1.6;
}


.list-item-mob {
    font-size: 10px;
    line-height: 1.6;
    margin-left: -3%;
}



.extracursectionmob {
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 4px;
    margin-top: 0;
    /* width: 84%; */
    background-color: rgba(172, 202, 202, 0.294)
}

.extracurriculartitlemob {
    font-size: 5vw;
}

.extracurricularmob {
    color: rgb(196, 125, 33);
    font-size: 1em;
    /* padding: 10px; */
}

.fieldsetecamob {
    align-items: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
}


.organizationmob,
.durationmob {
    font-size: 0.7em;
    /* color: red; */
}




.detailssection {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    width: 87.5%;
    background-color: rgba(153, 186, 186, 0.294);
}

.detailstitle {
    font-size: 2em;
}

.detailstable {
    text-align: center;
    align-items: center;
    margin: auto;
}


.fieldseteca {
    /* align-items: center; */
    align-items: stretch;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    /* text-align: center; */
}



.detailstable {
    border: 1px solid black;
    border-collapse: collapse;
}


.detailstr {
    border: 1px solid black;
    padding: 10px;

}

.detailstd {
    color: #0000ff;
    border: 1px solid black;
    padding: 10px;

}



.detailssectionmob {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5%;
    width: 87.5%;
    background-color: rgba(153, 186, 186, 0.294);
}

.detailstitlemob {
    font-size: 9em;
}

.detailstablemob {
    text-align: center;
    align-items: center;
    margin: auto;
}


.fieldsetecamob {
    align-items: center;
    margin: auto;
    font-family: 'Quicksand', sans-serif;
    /* text-align: center; */
}



.detailstablemob {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8em;
}


.detailstrmob {
    border: 1px solid black;

}

.detailstdmob {
    color: #0000ff;
    border: 1px solid black;
    padding: 10px;

}







@media screen and (max-width: 1024px) {

    div.contactform {
        text-align: center;
        padding-top: 2%;
        padding-left: 0px;
        padding-right: 0px;
        font-family: 'Quicksand', sans-serif;
        /* opacity: 0.5; */
        color: white;
    }
}

@media screen and (min-width: 1024px) {
    div.contactform {
        text-align: center;
        padding-top: 2%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 2%;
        font-family: 'Quicksand', sans-serif;
        border-radius: 12px;
       /* border: 0.01em solid #f5f5f5b8; */
    color: whitesmoke;
    /* background-color: #41526b71; */
        width: 80%;
        margin: 0 auto;

    }
}


.submitbutton {
    background-color: #d9f8f8;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #5779be;
    border-radius: 15px;
    transition: 1s;
}


.submitbutton:hover {
    background-color: #96b2e8;
    padding: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #6283c5;
    border-radius: 15px;
    transition: 0.5s;
}




@media screen and (min-width: 1024px) {
    input.contactinput {
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        border: 1px solid #5779be;
        border-radius: 8px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;
        font-size: 1vw;


    }
}

@media screen and (max-width: 1024px) {
    input.contactinput {
        padding: 3%;
        margin-bottom: 1%;
        width: 85%;
        border: 1px solid #5779be;
        border-radius: 5px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;

    }
}


@media screen and (max-width: 1024px) {
    textarea.contactinput {
        padding: 3%;
        padding-bottom: 1px;
        width: 85%;
        border: 1px solid #5779be;
        border-radius: 3px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;

    }
}


@media screen and (min-width: 1024px) {
    textarea.contactinput {
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 80%;
        border: 1px solid #5779be;
        border-radius: 8px;
        background-color: #e9f2f3;
        font-family: 'Quicksand', sans-serif;
        font-size: 1vw;


    }
}



.contactinput:hover,
.contactinput1:hover {
    background-color: #ffffff;

}

.contactinput1 {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* width: 1000%; */
    font-family: 'Quicksand', sans-serif;

    border-radius: 8px;
    background-color: #e9f2f3;
}




.collapsible {
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    /* background-color: #777; */
    background-color: rgba(172, 202, 202, 0.294);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    outline: none;
    font-size: 12px;
}

.active,
.collapsible:hover {
    background-color: #555;
}



.plus {
    float: right;
    scale: 2;
}

.live {
    font-size: small;
    color: #fe723f;
    text-decoration: none;
}

a.live:hover {
    text-decoration: underline;
}

.content {
    padding: 0 1px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    font-family: 'Quicksand', sans-serif;
    color: #080842;
    font-size: 12px;
}



.connections {
    margin: auto;
    align-items: center;
    display: flex;
    /* width: 50%; */
    background-color: #333;
    display: flex;
    justify-content: center;
}


.connections a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
    width: 100%;
}

.connections img {
    width: 30px;
}


.bottominfo {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 800%;
}


.bottominfo1 {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    /* width: 800%; */
}


.bottominfo,
.bottominfo1 {
    font-family: 'Quicksand';
    font-size: small;
}



input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* Chrome, Safari, Edge, Opera */

}


/*

@media screen and (max-width: 1024px) {
    div.{
        
    }
}

@media screen and (min-width: 1024px) {
    div. {
        
    }
}

*/